
body{
    font-family: 'Jua', sans-serif;
    width: 100%;
    background-image: url('img/main2.jpg');
    margin: 0 auto;
    text-align: center;
}

header{
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 30px;
}
main{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
section{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.count-display{
    width: 20%;
    margin: 0 auto;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 300;
    padding: 20px;
    background-color: rgba(255,255,255, 0.8);
    border-radius: 10px;

}
.selected-question{
    width: 80%;
    height: 60px;
    margin: 0 auto; 
    font-size: 24px;
    padding: 20px;
    background-color: rgba(255,255,255, 0.8);
    border-radius: 10px;
}

.answer-containers{
    width: 80%;
    margin: 0 auto;
    padding: 40px 20px 40px 20px;
    display: flex;
    justify-content: space-around;
    
}
.answer-box{
    width: 20%;
    padding: 20px 5px;
    border-radius: 10px;
    color: white;
}
.answer-box.first{
    background-color:#05668D;
    font-size: 16px;

}
.answer-box.second{
    background-color:#679436;
    font-size: 16px;
}
.answer-box.third{
    background-color:purple;
    font-size: 16px;
}
.answer-box.fourth{
    background-color: #021C27;
    font-size: 16px;
}
.display-answer {
    width: 60%;
    height: 40px;
    margin: 0 auto; 
    font-size: 20px;
    line-height: 1.4;
    padding: 20px;
    background-color: rgba(255,255,255, 0.1);
    border-radius: 10px;
    color: black; 
    animation: none;
}
/* .next-question{
    width: 20%;
    padding: 10px 5px;
    border-radius: 10px;
    color: white;
    margin-top: 20px;
    font-size: 16px;
    background-color: darkslategrey;
} */
.continents-container{
    width: 100%;
    margin: 0 auto;
    padding: 40px 20px 40px 20px;
    display: flex;
    justify-content: space-around;
}
.continent-option{
    width: 19%;
    padding: 20px 5px;
    border-radius: 10px;
    color: white;
    font-weight: 500;
}
.continent-option.first{
    background-color:#05668D;
    font-size: 16px;

}
.continent-option.second{
    background-color:#679436;
    font-size: 16px;
}
.continent-option.third{
background-color:purple;
    font-size: 16px;
}
.continent-option.fourth{
background-color: #021C27;
font-size: 16px;
}
.continent-option.fifth{
    background-color: orangered;
    font-size: 16px;
}
.play-again{
    width: 20%;
    padding: 20px 5px;
    border-radius: 10px;
    color: white;
    background-color: rgba(255,255,255, 0.1);
    border: none;
    font-size: 20px;
    margin-top: 20px;
}

@media screen and (max-width: 550px){
body{
    width: 100%;
}
}
@media screen and (min-width: 1200px){
body{
    width: 100%;
}
}
@keyframes color-change{
    0%{
        background-color: orange;
    }
    25%{
        background-color: yellow;
    
    }
    50%{
        background-color: purple;
        color: white;
    }
    75%{
        background-color: #05668D;
        color: white;
    }
    100%{
        background-color: green;
        color: white;
    }
}